/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0;
  background: #fff;
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
body,
html {
  height: 100%
}
body {
  font-family: Inter,sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #292d3a
}
.wrapper {
  width: 100%
}
.d-none {
  display: none
}
.red {
  color: #e27474
}
.green {
  color: #007934
}
.yellow{
  color: #F2C22F;
}
.container {
  padding: 0 42px
}
.wrapper {
  display: table;
  height: 100%
}
#all {
  display: table-row;
  height: 100%
}
.header {
  position: relative;
  padding: 48px 0;
  background-color: transparent
}
.header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(90deg,#87c6cb 0,#e9c94d 50%,#35b275 100%);
  opacity: .15
}
.header .container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  font-size: 12px;
  line-height: 12px
}
.header .container a {
  color: #94969c;
  text-decoration: none
}
.content {
  margin: 40px 0
}
.content .title {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.content .title + p {
  margin-top: 10px;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 32px
}
.content h2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 32px
}
.content .result {
  border-top: 1px solid #dbdbde;
  border-bottom: 1px solid #dbdbde;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 0;
  margin: 32px 0 25px 0;
  font-size: 14px;
  line-height: 16px
}
.content .result svg {
  margin-right: 16px;
  height: 40px;
  width: 40px
}
.content .result p {
  margin: 0
}
.content .result strong {
  display: block;
  font-weight: 700
}
.content .result + .advansed {
  margin-bottom: 16px
}
.content .result.green + .advansed {
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #dbdbde
}
.content .advansed p {
  margin: 0
}
.content .advansed strong {
  font-weight: 600
}
.content p {
  font-size: 14px;
  line-height: 24px
}
.content dl {
  font-size: 12px;
  line-height: 24px
}
.content dl dt {
  color: #94969c;
  display: block
}
.content dl dd {
  font-size: 14px;
  margin: 0 0 10px 0;
  color: #545761;
  font-weight: 600
}
.footer {
  background: #292d3a;
  color: #545761;
  font-size: 12px;
  line-height: 20px;
  padding: 24px 0
}
.footer .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff
}
.footer .title span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px
}
.footer .phonelist {
  margin: 24px 0;
  padding: 24px 0;
  list-style-type: none;
  border-top: 1px solid rgba(148,150,156,.1);
  border-bottom: 1px solid rgba(148,150,156,.1);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex
}
.footer .phonelist li + li {
  margin-left: 32px
}
.footer .phonelist li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none
}
.footer .phonelist li span {
  font-size: 11px;
  line-height: 18px;
  color: #94969c;
  display: block
}
@media (min-width:1921px) {
  body {
    background: #545761
  }
  body > .wrapper {
    max-width: 1920px;
    background: #fff
  }
}
@media (max-width:480px) {
  .d-sm-block {
    display: block
  }
  .header {
    padding: 27px 0
  }
  .header svg {
    height: 10px;
    width: auto
  }
  .container {
    padding: 0 32px
  }
  .footer .phonelist {
    -ms-flex-direction: column;
    flex-direction: column
  }
  .footer .phonelist li + li {
    margin: 16px 0 0 0
  }
}

